{{define "title"}}Verify Your Email{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	A verification letter has been sent to your email.
	Please, follow instructions in the letter to proceed with the registration.
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}